# Logs
FrontEnd/logs
FrontEnd/*.log
FrontEnd/npm-debug.log*
FrontEnd/yarn-debug.log*
FrontEnd/yarn-error.log*
FrontEnd/pnpm-debug.log*
FrontEnd/lerna-debug.log*

FrontEnd/node_modules
FrontEnd/dist
FrontEnd/dist-ssr
FrontEnd/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



BackEnd/.venv/
BackEnd/__pycache__/
BackEnd/app/alembic/__pycache__/
BackEnd/app/api/__pycache__/
BackEnd/app/models/__pycache__/
BackEnd/app/utils/__pycache__/
BackEnd/app/schema/__pycache__/
BackEnd/app/__pycache__/
BackEnd/.vercel
BackEnd/.env
BackEnd/.DS_Store